:org.apache.felix.configadmin.revision:=L"1"
jaas.classname="org.apache.jackrabbit.oak.security.authentication.token.TokenLoginModule"
jaas.controlFlag="sufficient"
jaas.ranking=I"200"
service.factoryPid="org.apache.felix.jaas.Configuration.factory"
service.pid="org.apache.felix.jaas.Configuration.factory~TokenLoginModule"
