:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~scripting"
user.mapping=[ \
  "org.apache.sling.scripting.core\=sling-scripting", \
  "org.apache.sling.scripting.sightly.js.provider\=sling-scripting", \
  ]
