:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~sling.event"
user.mapping=[ \
  "org.apache.sling.event\=sling-event", \
  "org.apache.sling.event.dea\=sling-event", \
  ]
