:org.apache.felix.configadmin.revision:=L"1"
jaas.classname="org.apache.jackrabbit.oak.security.authentication.user.LoginModuleImpl"
jaas.controlFlag="required"
service.factoryPid="org.apache.felix.jaas.Configuration.factory"
service.pid="org.apache.felix.jaas.Configuration.factory~LoginModuleImpl"
