:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~jcr-install"
user.mapping=[ \
  "org.apache.sling.installer.provider.jcr\=sling-jcr-install", \
  ]
