org.apache.felix.jaas.Configuration.factory~GuestLoginModule="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory~LoginModuleImpl="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory~TokenLoginModule="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.ConfigurationSpi="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.sling.commons.log.LogManager="slinginstall:org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~access.log="slinginstall:org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~request.log="slinginstall:org.apache.sling.commons.log-5.1.10.jar"
