:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment"
service.pid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment~composum_core"
whitelist.bundles=[ \
  "com.composum.core.commons", \
  "com.composum.core.pckgmgr", \
  "com.composum.core.pckginstall", \
  ]
whitelist.name="composum_core"
